html * {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 17px;
  letter-spacing: -.7px;
  word-spacing: .4px;
  color: #000000;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.selector {
  background-image: linear-gradient(white, black);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  width: 100px;
  height: 100px;
}

body {
    padding: 0;
    margin: 0;
    background: #D0E4F5 url("https://images4.alphacoders.com/888/888105.jpg") 
    no-repeat center center fixed;
    background-size: cover;
   }
  
  #map,
  body,
  html {
    height: 100%;
  }

  
  .Button {
    color: rgb(224, 192, 104); 
    font-size: 25px; 
    line-height: 25px; padding: 8px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
    .Button:hover {
    background: #1C6EA4; }
    .Button:active {
    background: #144E75; }

  .navbar {
    background-color: #144E75;
    background: #1C6EA4;
    background: -moz-linear-gradient(left, #1C6EA4 0%, #000000 100%);
    background: -webkit-linear-gradient(left, #1C6EA4 0%, #000000 100%);
    background: linear-gradient(to right, #1C6EA4 0%, #000000 100%);
  }

 #color1 {
    background-color: #144E75;
}
#color2 {
  background-color: #FFEC8B;
}
#color3 {
  background-color: #72A0C1;
}
#color4 {
  background-color: #000000;
}
#timestamp {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 17px;
  letter-spacing: 0px;
  word-spacing: 0.2px;
  color: lightgray;
  font-weight: 700;
  font-variant: normal;
  text-transform: none;
  text-align: center;
}

    .card-body {
        background-image: url("https://images4.alphacoders.com/888/888105.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        transition: 1s ease-out;
    }
      .card-body:hover{
        background-image: url("https://media3.s-nbcnews.com/j/newscms/2019_06/2746941/190208-stock-money-fanned-out-ew-317p_fa445b2f6f3e86a3ffa18707e6a8adcb.fit-760w.jpg");
      }

    .card-title {
      font-size:40px;
      color: #144E75;
    }
      .card-title:hover{
        color: red;
      }

    .card-text {
      color: #72A0C1;
    }
      .card-text:hover {
        color: red;
      }
  
#footnote{
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
  letter-spacing: 0px;
  word-spacing: 0.2px;
  color: lightgray;
  font-weight: 700;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  transition: .1s;
}
  #footnote:hover{
    color: #72A0C1;
    font-size: 17px;
    text-decoration-color: #144E75;
  }

.HOLDER {
   background: black;
}