
{% extends "base.html" %}
{% block content %}

<br>
<br>

<div class="container" style="background: rgba(255,255,255,.85); border: 6px solid #144E75;">
    <div class="row">
        <div class="col-md-12">
            <br>
            <h3>Explore Live Data</h3>
            <br>
            <!-- create select here -->
            <form>
            <h6>Enter two BTC currencies to analyze.</h6>
            <div class="row">
                <div class="col">
                
                <input type="text" class="form-control" placeholder="BNBBTC" id="firstCurrency">
                </div>
                <div class="col">
                <input type="text" class="form-control" placeholder="EOSBTC" id="secondCurrency">
                </div>
                <div class="col">
                <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            </form> 
    
        </div>
    </div>

    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div id="plot"></div>
        </div>
    </div>
</div>
    <br>
    <br>

    <script src="{{ url_for('static', filename='js/correlation_plots.js') }}"></script>

{% endblock content %}
