
{% extends "base.html" %}
{% block content %}
<br>
<br>

<div class="container" style="background: rgba(255,255,255,.85); border: 6px solid #144E75;">
    <div class="row">
        <div class="col-md-12">
            <br>
            
            <h3>Historical CryptoCurrency DashBoard</h3>
            <hr>
            <!-- create select here -->
            <p>Select Currency:<select id="selDataset" onchange="optionChanged(this.value)"></select></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>About</h4>
            <div id="about">
            <!-- create introduction here -->
            </div>
            <small>Source: <a class="history-link" href="https://info.binance.com/" target="_blank">binance.com</a></small>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div id="scatter"></div>
        </div>
    </div>
</div>
    <br>
    <br>

    <script src="{{ url_for('static', filename='js/plots.js') }}"></script>

{% endblock content %}
