
{% extends "base.html" %}
{% block content %}

<br>
<br>
<div class="container" style="background: transparent;">
  <div class="row text-center">
    <div class="col-md-6">
      <br>
      <h3 style="color:white;">Discovering Associations In The CryptoCurrency Ecosytem</h3>
      <br>
      <p style="color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.        </p>
    </div>
    <div class="col-md-6">
      
    </div>
  </div>

</div>

<br>
<br>

<div class="container">
 <row>
    <div class="card-deck">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">ETH (Ether)</h5>
            <p class="card-text">Latin Latin Latin</p>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">XRP (Ripple)</h5>
            <p class="card-text">Latin Latin Latin</p>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">LTC (litecoin)</h5>
            <p class="card-text"> Latin Latin Latin </p>
          </div>
        </div>
      </div>
    </row>

    <row>
        <div class="card-deck">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">BCC (Bitcoin Cash)</h5>
                <p class="card-text">Latin Latin Latin</p>
              </div>
            </div>
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">EOS (Eos)</h5>
                <p class="card-text">Latin Latin Latin</p>
              </div>
            </div>
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">BNB (Binance Coin)</h5>
                <p class="card-text"> Latin Latin Latin </p>
              </div>
            </div>
          </div>
        </row>
        <br>
    <row>
      <div class="card">
        <div class="card-body" id="line-plot">
          text
        </div>
      </div>
    </row>
    
    <br>
    <row>
        <p id="timestamp">(timestamp_update)</p>
    </row>
</div>


  <script src="{{ url_for('static', filename='js/liveplots.js') }}"></script>

{% endblock content %}
