
{% extends "base.html" %}
{% block content %}

<br>
<br>
<div class="container" style="background: transparent;">
  <div class="row text-center">
    <div class="col-md-6">
      <br>
      <h3 style="color:white;">Discovering Associations In The CryptoCurrency Ecosytem</h3>
      <br>
      <p style="color: white;">This web application serves as a convenient portal by which anyone can explore the valuation of the top six market-valued cryptocurrencies. On the present page, we provide their exchange rates relative to bitcoin (captured at the time the page loaded). In the 'Explore' page, users can select two cryptocurrencies and two datetimes, and our app will automatically generate descriptive statistics and Pearson correlations within those specifications. In the 'History' page, we provide USD valuations and descriptive summaries of each of these cryptocurrencies. In the 'Comparison' page, we provide the USD valuation of bitcoin itself.</p>
    </div>
    <div class="col-md-6">
      
    </div>
  </div>

</div>

<br>
<br>

<div class="container">
 <row>
    <div class="card-deck">
        <div class="card text-center">
          <div class="card-body" id="ETH">
            <h5 class="card-title">Ethereum (ETH)</h5>
            <p class="card-text"><span id="ETH-price"></span></p>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-body" id="EOS">
            <h5 class="card-title">EOS <br> (EOS)</h5>
            <p class="card-text"><span id="EOS-price"></span></p>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-body" id="BCC">
            <h5 class="card-title">Bitcoin Cash (BCC)</h5>
            <p class="card-text"><span id="BCC-price"></span></p>
          </div>
        </div>
      </div>
    </row>

    <row>
        <div class="card-deck">
            <div class="card text-center">
              <div class="card-body" id="BNB">
                <h5 class="card-title">Binance Coin (BNB)</h5>
                <p class="card-text"><span id="BNB-price"></span></p>
              </div>
            </div>
            <div class="card text-center">
              <div class="card-body" id="LTC">
                <h5 class="card-title">Litecoin (LTC)</h5>
                <p class="card-text"><span id="LTC-price"></span></p>
              </div>
            </div>
            <div class="card text-center">
              <div class="card-body" id="XRP">
                <h5 class="card-title">Ripple (XRP)</h5>
                <p class="card-text"><span id="XRP-price"></span></p>
              </div>
            </div>
          </div>
        </row>
        <br>
    <row>
      <div class="card">
        <div class="card-body" id="linePlot">
        </div>
      </div>
    </row>
    
<br>
    <row>
  <container>
      <p style="font-style:italic; color:white;">Last updated:  <span id="timestamp"></span></p>
    </row>
  </container>
</div>


  <script src="static/js/liveplots.js"></script>

{% endblock content %}
