
{% extends "base.html" %}
{% block content %}
<row>
  <div class="card-deck">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">ETH (Ether)</h5>
          <p class="card-text">Latin Latin Latin</p>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">XRP (Ripple)</h5>
          <p class="card-text">Latin Latin Latin</p>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">LTC (litecoin)</h5>
          <p class="card-text"> Latin Latin Latin </p>
        </div>
      </div>
    </div>
  </row>

  <row>
      <div class="card-deck">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">BCC (Bitcoin Cash)</h5>
              <p class="card-text">Latin Latin Latin</p>
            </div>
          </div>
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">EOS (Eos)</h5>
              <p class="card-text">Latin Latin Latin</p>
            </div>
          </div>
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">BNB (Binance Coin)</h5>
              <p class="card-text"> Latin Latin Latin </p>
            </div>
          </div>
        </div>
      </row>
  <row>
      <p id="timestamp">(timestamp_update)</p>
  </row>
{% endblock content %}
